

#navigation {
    margin-top: 0px;
    height: 30px;
    width: 100%;
    color: #727272;
    background-color: #f9f9f9;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    z-index: 1000;
    display: block;
}

#nav {
    height: 60px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.menu {
    list-style-type: none;
}

.nav-select {
    height: 25px;
    border: 1px solid #9d9d9d;
}

#nav li {
    float: left !important;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 30px;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background: #282828;
    clear: both;
    padding: 40px 0 45px;
}

#content {
    padding-top: 30px;
}

.stock_info {
    background: #fff;
    border:1px solid #d7d7d7;
    box-shadow: 0 3px 5px rgba(4,5,5,.04);
    box-sizing: border-box;
    margin: 0 0 5px;
    min-height: 80px;
}

.stock_post {
    color: #9d9d9d;
    font-size: 12px;
    line-height: 21px;
}

.stock_title {
    font-size: 14px;
    font-weight: bold;
}

.stock_price {
    font-size: 14px;
    font-weight: bold;
    color: #c9302c;
}

.stock_price em {
    color: #ff0002;
}

.stock_update_time {
    font-size: 12px;
    font-family: Arial;
    color: #398439;
}

.image-wrapper {
    display: block;
    float: left !important;
    vertical-align: middle;
    margin-top: 10px;
}

.social_icon {
    width: 32px;
    height: 32px;
}