{% load staticfiles %}
{% static "" as BASE_URL %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
</head>
<body>

<link rel="stylesheet" href="{{ BASE_URL }}css/bootstrap.css">
<link rel="stylesheet" href="{{ BASE_URL }}css/bijia.css">

<script>
    function onCategorySelect()
    {
        var provider = $("#stock_provider").val();
        var category = $("#stock_category").val();
        window.location = "/bijia/index?provider=" + provider + "&category=" + category;
    }
</script>

</body>

{% block navigator %}
    <div id="navigation">
        <ul id="nav" class="menu">
            <li class="nav-link">商家
                <select id="stock_provider" class="nav-select">
                    <option value="jd">京东</option>
                </select>
            </li>
            <li class="nav-link">类别
                <select id="stock_category" class="nav-select" onchange="onCategorySelect()">
                    {% for category_item in category_list %}
                        <option value={{ category_item.value }}
                                {% if category_item.value == category %}
                                    selected
                                {% endif %}
                                >
                            {{ category_item.name }}</option>
                    {% endfor %}
                </select>
            </li>
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=1>全部商品</a>
            </li>
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=2>今日新品</a>
            </li>
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=3>最新价格变动</a>
            </li>
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=3>移动好价</a>
            </li>
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}>联系我们</a>
            </li>
        </ul>
    </div>
{% endblock %}

<div id="content">
{% block content %}

{% endblock %}
</div>

{% block footer %}
<footer>
</footer>
{% endblock %}

<!-- <script src="{{ BASE_URL }}/js/bootstrap.js"></script> -->
<script src="{{ BASE_URL }}js/jquery-1.11.2.js"></script>
</html>