{% load staticfiles %}
{% static "" as BASE_URL %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我看你最值</title>
    <link rel="icon" href="{{ BASE_URL }}image/favicon.ico" />
</head>
<body>

<link rel="stylesheet" href="{{ BASE_URL }}css/bootstrap.css">
<link rel="stylesheet" href="{{ BASE_URL }}css/bijia.css">
<link rel="stylesheet" href="{{ BASE_URL }}css/font-awesome.css">

<script>
    function onCategorySelect()
    {
        var provider = $("#stock_provider").val();
        var category = $("#stock_category").val();
        window.location = "/bijia/index?provider=" + provider + "&category=" + category;
    }
</script>

</body>

{% block navigator %}
    <div id="navigation">
        <ul id="nav" class="menu pull-left">
            <li class="nav-link pull-left">
                <i class="fa fa-align-justify" id="switcher"></i>
                <span id="leftSwitcher2" title="Show slide bar"></span>
            </li>
            <li class="nav-link pull-left">商家
                <select id="stock_provider" class="nav-select">
                    <option value="jd">京东</option>
                </select>
            </li>
            <li class="nav-link">类别
                <select id="stock_category" class="nav-select" onchange="onCategorySelect()">
                    {% for category_item in category_list %}
                        <option value={{ category_item.value }}
                                {% if category_item.value == category %}
                                    selected
                                {% endif %}
                                >
                            {{ category_item.name }}</option>
                    {% endfor %}
                </select>
            </li>
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=1>我看你最值</a>
            </li>
            <!--
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=2>全部商品</a>
            </li>
            -->
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=3>今日新品</a>
            </li>
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=4>最新价格变动</a>
            </li>
            <li class="nav-link">
                <a href=/bijia/index?provider={{ provider }}&category={{ category }}&show=5>移动好价</a>
            </li>

        </ul>
        <ul id="nav" class="menu pull-right">
            {% if logined %}
            <li class="nav-link pull-right">
                {{ name }}
            </li>
            {% else %}
            <li class="nav-link pull-right">
                <a href="https://api.weibo.com/oauth2/authorize?client_id=433156516&response_type=code&redirect_uri={{ redirect_url }}">登陆</a>
            </li>
            {% endif %}
            <li class="nav-link dropdown">
                <span class="fa fa-info-circle"></span>
                <ul class="dropdown-menu">
                    <li class="dropdown">about</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

<div id="content">
{% block content %}

{% endblock %}
</div>

{% block footer %}
<footer>
<div align="center">
    <img class="social_icon" src="{{ BASE_URL }}image/icon_weibo.png">
    <img class="social_icon" src="{{ BASE_URL }}image/icon_wechat.png">
    <img class="social_icon" src="{{ BASE_URL }}image/icon_tencent.png">
    <img class="social_icon" src="{{ BASE_URL }}image/icon_facebook.png">
    <img class="social_icon" src="{{ BASE_URL }}image/icon_twitter.png">
</div>
</footer>
{% endblock %}

<!-- <script src="{{ BASE_URL }}/js/bootstrap.js"></script> -->
<script src="{{ BASE_URL }}js/jquery-1.11.2.js"></script>
</html>