{% extends "base.html" %}
{% load staticfiles %}
{% static "" as BASE_URL %}

{% block content %}
    {% for stock in stock_list %}
    <div class="stock_info">
        <div class="image-wrapper">
            <img height="60" width="60" src={{ BASE_URL }}img/{{ stock.uid }}.jpg />
        </div>
        <span class="stock_post"><img height="12" width="12" src={{ BASE_URL }}image/{{ provider }}_favicon.ico><a>京东</a>&nbsp;&nbsp;</span><br/>
        <span class="stock_title"><a href={{ stock.url }} target="_blank">{{ stock.name }}</a></span><br/>
        <span class="stock_price">
            {{ stock.last_price }} 移动端 {{ stock.last_mobile_price }}
            {% if display_method == '1' %}
                预测价格: {{ stock.degree.predict_price }} 值度: <em>{{ stock.degree.value }}</em>
            {% endif %}
        </span>
        <span class="stock_update_time">
            @
            {% if display_method == '3' %}
                上架时间:{{ stock.create_time|date:"Y-m-d H:i" }}
            {% elif display_method == '4' %}
                变动时间:{{ stock.degree.change_time|date:"Y-m-d H:i" }}
            {% else %}
                更新时间:{{ stock.last_update|date:"Y-m-d H:i" }}
            {% endif %}
            - 评论数:<a href="http://item.jd.com/{{ stock.uid }}.html#comment">{{ stock.comments }}</a>
        </span>
    </div>
    {% endfor %}

{% endblock %}

</body>
</html>